## macOS
.DS_Store

## Xcode
build/
DerivedData/
*.xcuserstate
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

## Fastlane / CI artefacts
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
*.xcresult

## Rust
server/target/

## Site
web/node_modules/
web/dist/
web/.vite/
